@charset "utf-8";
    body { 
        font : 12px "굴림", Gulim ;
        background : url("images/bg_grid.gif") ; 
    }
    * {
        margin: 0px;
        padding: 0px;
    }
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
    .all {
        margin: 0 auto;
        width: 1000px;
    }
    .info {
        width: 1000px;
        height: 20px;
        background-color: darkgrey;
        padding-top: 5px;
    }
    .info ul {
        float: right;
    }
    .info ul li {
        display: inline;
    }
    .info ul li a {
        width: 100px;
        float: left;
        border-right: 1px solid black;
        color: black;
        text-align: center;
    }
    .info ul li:last-child a{
        border-right: none;
    }
    .navi {
        width: 1000px;
        height: 100px;
        font-size: 25px;
    }
    .navi .main a{
        position: relative;
        width: 350px;
        height: 70px;
        float: left;
        color: white;
        text-align: center;
        padding-top: 30px;
        background-color: blueviolet;
    }
    .navi .list ul {
        float: right;
    }
    .navi .list ul li {
        width: 130px;
        height: 100px;
        float: left;
        text-align: center;
        background-color: blue;
    }
    .navi .list ul li a {
        width: 130px;
        height: 20px;
        font-size: 20px;
        float: right;
        position: relative;
        word-wrap: break-word;
        color: white;
        transition: width 0.5s;
        padding: 40px 10px 40px 10px;
        background-color: red;
    }
    .navi .list ul li a:hover {
        width: 170px;
        letter-spacing: 3px;
        background-color: coral;
    }
    /* .menu_fix {
        position: fixed;
        top: 0px;
    } */
    .menu {
        margin-top: 135px;
        float: left;
        width: 240px;
        height: 265px;
        background-color: rgb(243, 228, 228);
    }
    .menu_top {
        text-align: center;
        background-color: bisque;
        padding-bottom: 10px;
    }
    .menu li {
        height: 30px;
        padding-top: 20px;
        border-bottom: 1px solid rgb(199, 193, 193);
    }
    .li_font {
        color: black;
        font-size: 19px;
        padding-left: 20px;
    }
    .menu li a {
        color: black;
    }
    .notice_box {
        margin-top: 135px;
        float: right;
        width: 750px;
        height: 850px;
        
    }
    .notice_bar {
        width: 750px;
        height: 30px;
        padding-top: 20px;
        border-bottom: 1px solid brown;
    }
    .search_button {
        width: 70px;
    }
    .notice_main {
        width: 750px;
        height: 600px;
    }
    .notice_search {
        float: right;
        padding: 30px 0 0 0;
    }
    .notice {
        width: 750px;
        float: right;
    }
    table {
        border-collapse: collapse;
        background-color: rgb(248, 246, 246);
    }
    table tr {
        border-bottom: 1px solid rgb(185, 184, 184);
    }
    .table_no {
        width: 50px;
        height: 30px;
        text-align: center;
    }
    .table_title {
        width: 380px;
        height: 30px;
        padding-left: 10px;
    }
    .table_file {
        width: 100px;
        height: 30px;
        text-align: center;
    }
    .table_name {
        width: 70px;
        height: 30px;
        text-align: center;
    }
    .table_date {
        width: 100px;
        height: 30px;
        text-align: center;
    }
    .table_hit {
        width: 40px;
        height: 30px;
        text-align: center;
    }
    .page_box {
        position: relative;

    }

    .page {
        padding: 30px;
        /* border: 1px solid black; */
        text-align: center;
    }
    .page a {
        padding: 5px;
        color: black;
    }
    .insert {
        position: absolute;
        top: 20px;
        right: 5px;
        /* float: right; */
        /* padding-top: 10px; */
    }
    .button {
        width: 70px;
        height: 30px;
    }
    .footer {
        width: 1000px;
        padding-top: 10px;
        clear: both;
        height: 90px;
        text-align: center;
        background-color: cornsilk;
    }
    #fix {
        position: fixed;
        top: 0px;
    }